<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine</a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Música</a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble']">N</a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble/534']">N534</a>
        </li>
        <li>
            <a [routerLink]="['/menutabla']">Menu tabla</a>
        </li>
        <li>
            <a [routerLink]="['/tabla/10']">T10</a>
        </li>
        <li>
            <a [routerLink]="['/**']">Random not found</a>
        </li>
    </ul>
</div>