h1, h2 {
    color: rgb(238, 225, 225);
    font-size: 20px;
}

p {
    color: blue;
    font-size: 16px;
    font-family: cursive;
}

img {
    max-width: 500px;
    height: auto;
    margin: 2px;
    transition: ease-in-out 0.35s;
}

img:hover {
    transform: scale(1.1);
}

body {
    background-color: #131212;
}