<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (isLogin){
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" (click)="logout()">Logout</button>
                    </li>
                } @else {
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register</a>
                    </li>
                }
                
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        CRUDS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/coches']">Coches</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/plantillas']">complex</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>