body{
    background-color: #d9e5f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #f1eed9;
    color: #000;
    text-align: center;
    padding: 10px;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #899ed8;
}

li {
    background-color: rgb(186, 196, 252);
    color: rgb(91, 28, 163);
    margin: 10px;
    padding: 5px;
}

button {
    background-color: #86e0be;
    color: rgb(32, 3, 21);
    padding: 5px 6px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 20%;
}

input {
    padding: 5px;
    margin: 10px;
}


