<div>
    <form #createForm="ngForm">
        <input type="number" class="form-control" placeholder="id"
        name="cajaId"   [(ngModel)]="departamento.idDepartamento" />
        <input type="text" class="form-control" placeholder="nombre"
        name="cajaNombre"  [(ngModel)]="departamento.nombre" />
        <input type="text" class="form-control" placeholder="localidad"
        name="cajaLocalidad"  [(ngModel)]="departamento.localidad" />
        <button (click)="insertDepartamento()">Crear</button>
    </form>
</div>